Proyectos/Flujos n8n/Facturas (Telegram).json
{
  "name": "Facturas (Telegram)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "36651541-694f-4c21-9b8e-09b5a9f3ad0f",
      "name": "Telegram Trigger",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "tSOqJdo9peHcTy8z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa2eb7f2-3823-4283-9c8d-d9ec4bed0642",
              "name": "message.chat.id",
              "value": "={{$json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "8d22df6f-bcb6-4f8b-91c6-0dbed8196ac6",
              "name": "message.chat",
              "value": "={{ $json.message.chat }}",
              "type": "object"
            },
            {
              "id": "e497c284-f505-4635-8937-f99825201722",
              "name": "telegram.file_id",
              "value": "={{ $json.message.document.file_id }}",
              "type": "string"
            },
            {
              "id": "b4b81d3f-ba96-4325-a158-8e84b02b3f1e",
              "name": "message.capton",
              "value": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -112
      ],
      "id": "9317e92c-7338-43c8-a887-6286633383e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "6bea23c9-0e0e-4b32-a5a2-d5516e425e88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Documento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06bf9599-1631-4d75-b930-19ded40dc20e",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        256,
        0
      ],
      "id": "72278836-f748-4c98-9db7-226ea391449e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa2eb7f2-3823-4283-9c8d-d9ec4bed0642",
              "name": "message.chat.id",
              "value": "={{$json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "8d22df6f-bcb6-4f8b-91c6-0dbed8196ac6",
              "name": "message.chat",
              "value": "={{ $json.message.chat }}",
              "type": "object"
            },
            {
              "id": "e497c284-f505-4635-8937-f99825201722",
              "name": "telegram.file_id",
              "value": "={{ $json.message.document.file_id }}",
              "type": "string"
            },
            {
              "id": "b4b81d3f-ba96-4325-a158-8e84b02b3f1e",
              "name": "message.capton",
              "value": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        48
      ],
      "id": "3a6347fb-6c80-4e9c-a212-469a4ec91767",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        -32
      ],
      "id": "a52c7062-91f1-47d0-a76a-bff79b7cc64d",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Hola hemos recibido tu documento y lo estamos procesando",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -32
      ],
      "id": "b3d894b9-e439-439f-91f3-4b8faa82a803",
      "name": "Recibido",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "tSOqJdo9peHcTy8z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Merge').item.json.telegram.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        -32
      ],
      "id": "756fe71a-423a-49ac-aaf8-43ca5bc5b850",
      "name": "Descargar documentos",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "tSOqJdo9peHcTy8z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-Ot21EmLRuAytVXAld3PB8yTGYYKVFGIGoKOW3hFp2GQ7JnQI"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        -32
      ],
      "id": "2e0af634-8569-4810-8f4e-559a4f12a1e9",
      "name": "Subir archivo"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-Ot21EmLRuAytVXAld3PB8yTGYYKVFGIGoKOW3hFp2GQ7JnQI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -32
      ],
      "id": "b26ccfe5-0d2a-4b9c-b585-f9e4568ec821",
      "name": "Obtener info"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c5d01385-facd-4371-bb26-9be2216a750b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d554f758-7801-457d-a37f-c29d1b569889",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1792,
        -32
      ],
      "id": "03068f8b-7b2d-452c-b956-41a2ef3e5e3b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-Ot21EmLRuAytVXAld3PB8yTGYYKVFGIGoKOW3hFp2GQ7JnQI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -128
      ],
      "id": "c721cd05-6cde-4daf-96c2-cfcee9eb2844",
      "name": "Descargar info"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        64
      ],
      "id": "a8e934be-ae0f-4b9e-b270-cda3630ea8d2",
      "name": "Wait",
      "webhookId": "REDACTED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "={{ $json.markdown }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un asistente experto en extracción y procesamiento de datos de documentos, especializado en identificar con precision los detalles clave de una factura."
            },
            {
              "message": "=Tu tarea es extraer el CIF,NIF,el numero de factura, la fecha de emision, el subtotal,el impuesto (IVA) y el importe total de cualquier texto de factura proporcionada, devolviendo los datos en JSON estructurado con maxima precision.\n\nIMPORTANTE:\nSolo responde con el JSON en el siguiente formato:\n{\n\"Nombre_Factura\":\"\",\n\"Fecha\":\"\",\n\"CIF\":\"\",\n\"Subtotal\":\"\",\n\"IVA\":\"\",\n\"Importe_total\":\"\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2208,
        -96
      ],
      "id": "15142453-5579-41dc-843e-6222531286a8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2208,
        80
      ],
      "id": "e33e351a-958e-4e50-af76-86eb90d880cd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"Nombre_Factura\":\"\",\n\"Fecha\":\"\",\n\"CIF\":\"\",\n\"Subtotal\":\"\",\n\"IVA\":\"\",\n\"Importe_total\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2368,
        80
      ],
      "id": "39b3bf33-b2b2-47e0-8d4a-7d1ec507a651",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Merge').item.json.telegram.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2560,
        -96
      ],
      "id": "808a13de-2f21-4c64-b76c-178ff4fe86b9",
      "name": "Descargar Doc",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "tSOqJdo9peHcTy8z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_FILE_ID",
          "mode": "list",
          "cachedResultName": "TICKETS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119ep33CIDAwrXcm0SXhyBH20Ca--GFX3-KzzlxBd9Ps/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119ep33CIDAwrXcm0SXhyBH20Ca--GFX3-KzzlxBd9Ps/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre_Factura": "={{ $('Basic LLM Chain').item.json.output.Nombre_Factura }}",
            "Fecha": "={{ $('Basic LLM Chain').item.json.output.Fecha }}",
            "CIF": "={{ $('Basic LLM Chain').item.json.output.CIF }}",
            "Subtotal": "={{ $('Basic LLM Chain').item.json.output.Subtotal }}",
            "IVA": "={{ $('Basic LLM Chain').item.json.output.IVA }}",
            "Método de Pago": "={{ $('Basic LLM Chain').item.json.output.Importe_total }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre_Factura",
              "displayName": "Nombre_Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CIF",
              "displayName": "CIF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Método de Pago",
              "displayName": "Método de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Forma de Pago",
              "displayName": "Forma de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Moneda",
              "displayName": "Moneda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conceptos",
              "displayName": "Conceptos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uso del CFDI",
              "displayName": "Uso del CFDI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2768,
        -96
      ],
      "id": "bf5d1c5a-885f-4165-ae60-a9a0a5992c8b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge').item.json.message.chat.id }}",
        "text": "=Los datos que hemos reconocido son los siguientes:\n\nNombre_Factura:{{ $json.Nombre_Factura }}\nFecha:{{ $json.Fecha }}\nCIF:{{ $json.CIF }}\nSubtotal:{{ $json.Subtotal }}\nIVA:{{ $json.IVA }}\nImporte_total:{{ $json['Método de Pago'] }}\n\nLo hemos subido a la base de datos:\nhttps://docs.google.com/spreadsheets/d/119ep33CIDAwrXcm0SXhyBH20Ca--GFX3-KzzlxBd9Ps/edit?usp=sharing",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2992,
        -96
      ],
      "id": "6d937256-1453-4fa6-aedf-063936d6deca",
      "name": "Mensaje de confirmacion",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "tSOqJdo9peHcTy8z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Disparador de Telegram:\n\nObtiene los menajes recientes asi como el chat y clasifica los datos por separado",
        "height": 128,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -160
      ],
      "id": "ba1d884b-25bc-4f1d-8baa-d0f968515a20",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Switch:\n\nCondiciona las variables y si la condicion se cumple se sigue una ruta u otra.\n\nEj. Si existe un documento se sigue la ruta llamada Documento",
        "height": 288,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -320
      ],
      "id": "f20c3bbd-8cdb-45f0-ac05-aa59cd96a8df",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Editar campos:\n\nAyuda a identificar y clasificar variables dando un nombre personalizado",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -288
      ],
      "id": "71647214-d784-4289-bdfd-c4679564b6df",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Merge:\n\nOrganiza los datos desde diferentes rutas en una sola",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -224
      ],
      "id": "d3aca3ab-1aa3-4a1b-9f41-c5cc004276c6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Envia un mensaje notoficando automaticamente al usuario",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        -224
      ],
      "id": "a0a2115e-6192-476d-a387-6dd2039ab9bd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Obtiene los documentos del nodo Merge y los descarga y convierte a formato Binario",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -224
      ],
      "id": "963274f3-b888-42be-9220-ffda81a6a893",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "En este caso realiza una solicitud personalizada a Llama Cloud y sube los archivos en formato binario para ser analizados",
        "width": 160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -224
      ],
      "id": "2686469b-5cc8-4b60-ba7e-6b5ed46de7fb",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Obtiene la id y el estado de la solicitud del analisis anterior\n",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1568,
        -224
      ],
      "id": "4bdd50ba-343b-4ef8-976c-462b3b2755cd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Dependiendo del estado de la solicitud se determina si se descarga la informacion convertida a texto o si se inicia un bucle hasta que el estado sea el esperado",
        "height": 224,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        -288
      ],
      "id": "c7b3077a-cef8-467b-9830-3b172c901890",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "(EN ESTA PARTE DEL FLUJO AMBOS NODOS TIENEN EXACTAMENTE LA MISMA INFORMACION)",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        208
      ],
      "id": "fe54d6b7-9369-4f87-96c5-3436367527b8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Descarga la informacion convertida a texto y la muestra en una variable llamada Markdown",
        "height": 240,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        -384
      ],
      "id": "56f2592d-7239-476c-bae6-a203d2647df5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Este nodo reinicia (dependiendo el tiempo establecido) el nodo al que se conecte hasta que el resultado sea el esperado",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        256
      ],
      "id": "ff982b89-4beb-4e1a-9baf-4ebe5a7cb0dc",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Se encarga de darle formato a la informacion anterior tras definir un enfoque y proposito",
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2208,
        -304
      ],
      "id": "78e73a6b-36fb-47bc-a8d4-ad17e0efc3ed",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Descarga la nueva informacion al chat\n",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2544,
        -288
      ],
      "id": "546068e8-f368-4520-b7ec-5d79aaad4cc1",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Organiza la informcion en el documento uando variables ya configuradas anteriormente",
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2752,
        -288
      ],
      "id": "20574862-d1dc-4a90-93aa-f26a1e869609",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Envia un mensaje al usuario junto con la informacion en contrada",
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2960,
        -288
      ],
      "id": "6abb5381-3371-40c3-8a38-3b47a1be2265",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "Aqui se establece el formato del texto mediante codigo JSON.\n\nej. \"Nombre Factura\":\"Aqui se escribe la variable con los datos\"",
        "height": 272,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        256
      ],
      "id": "a1b9b599-c16e-4390-b10b-5a3896e051a7",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Recibido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibido": {
      "main": [
        [
          {
            "node": "Descargar documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar documentos": {
      "main": [
        [
          {
            "node": "Subir archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir archivo": {
      "main": [
        [
          {
            "node": "Obtener info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener info": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Descargar info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Obtener info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar info": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Descargar Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Doc": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Mensaje de confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "efb0465c-2c14-403b-b5dc-4080b8aaf9e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11b2444ebdf37e1adba22617df3ef520a982fbdb367b9495bda4df5a719f04b6"
  },
  "id": "oWyz4oyzRniQXmpd",
  "tags": []
}
